.container{
    height: 85vh;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 0; 
  }


  .prediction{
    /* background-color: rgb(246,209,85, 0.7); */
    background-color: rgb(246,209,85);
    border-radius: 5rem;
    padding: 2rem;
    text-align: center;
    margin-bottom: 10px !important;
  }

  .date{
    font-size: 1.2rem;
  }

  .heading{
    font-size: 1.5rem;
  }

  .text{
    font-size: 0.9rem;
  }

  p{
    margin: 0;
    padding: 0;
  }

  .connect{
    position: absolute !important;
    top: calc(50% + 8px) !important; 
     left: 49.955% !important;
    height: calc(100% - -100px) !important; 
    z-index: -1 !important;
  }

  
  

  @media only screen and (max-width: 1000px) {
    

    .prediction{
      border-radius: 1.2rem;
      margin-bottom: 2px !important;
      padding: 0.8rem;
    }

    .date{
      font-size: 0.9rem;
    }
  
    .heading{
      font-size: 1rem;
    }
  
    .text{
      font-size: 0.7rem;
    }
   
  }

  @media only screen and (max-width: 500px) {
   

    .prediction{
      border-radius: 0.8rem;
      margin-bottom: 2px !important;
      padding: 0.5rem;
    }

    .date{
      font-size: 0.7rem;
    }
  
    .heading{
      font-size: 0.7rem;
    }
  
    .text{
      font-size: 0.5rem;
    }
   
  }
