.container-head{
    position: sticky;
    height: 20%;
}

.navbar{
    height: 60px;
    background-color: rgb(254,254,253);
    display: flex;
    justify-content: space-between;
}



.left{
    display: flex;
    gap: 1rem;
    padding-left: 0.5rem;
    align-items: center;
}

.right{
    display: flex;
    gap: 1rem;
    padding-right: 0.5rem;
    align-items: center;
}



.logo{
    color: white;
    font-size: 2rem;
    font-weight: 400;
    height: 20vh; 
}

.name{
    width: 100%;
    padding: 2.5rem;
}

sup{
    font-size: 1rem !important;
}


.foot {
    background: url("../../assets/istockphoto-472809828-170667a.webp");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: auto;
    /* background: linear-gradient(
      90deg,
      rgb(1, 0, 24) 0%,
      rgb(6, 27, 73) 50%,
      rgb(144, 149, 199) 100%
    );
    background-size: 400% 400%;
    animation: gradient 3s ease infinite; */
  }
  
.name{
  font-size: 3rem;
}
  
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* .sparkle {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 70%);
    top: -100px;
    left: -100px;
    animation: sparkle 7s ease infinite;
  }
  
  @keyframes sparkle {
    0% {
      transform: rotate(0deg) scale(1);
    }
    100% {
      transform: rotate(360deg) scale(1.5);
    }
  }
   */
  
  
  
  
  
  
  
  @media only screen and (max-width: 800px) {
    .foot {
      margin: 1.5rem 0.5rem;
      bottom: 0;
      /* margin-bottom: 6rem; */
    }
  
    
  
    .foot h2 {
      font-size: 1rem;
    }
  
    .social-links {
      gap: 0.5rem;
    }
    .social-link {
      font-size: 1rem !important;
    }
  }