.container-head{
    position: sticky;
    height: 20%;
}

.navbar{
    height: 60px;
    background-color: rgb(254,254,253);
    display: flex;
    justify-content: space-between;
}



.left{
    display: flex;
    gap: 1rem;
    padding-left: 0.5rem;
    align-items: center;
}

.right{
    display: flex;
    gap: 1rem;
    padding-right: 0.5rem;
    align-items: center;
}

li{
  list-style-type: none;
}

#services{
  position: absolute;
}

#services:hover > li{
display: block;
}

.logo{
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
}

.name{
    width: 100%;
    padding: 2.5rem;
}

sup{
    font-size: 1rem !important;
}


.foot {
    background: url("../../assets/b409ee94ef48f517884709bc4f12eb93.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 30vh;
  }
  
.name{
  font-size: 3rem;
}
  
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  
  select{
    width: 80%;
  }

  

  @media only screen and (max-width: 900px) {


    .name{
      font-size: 2rem;
      padding: 1rem;
    }
    
    sup{
      font-size: 0.7rem !important;
  }
   
   
  }

  @media only screen and (max-width: 680px) {
    
    

    .name{
      font-size: 1.5rem;
      padding: 0;
    }

    sup{
      font-size: 0.5rem !important;
  }

     .logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
     
    }
   
  }

  @media only screen and (max-width: 500px) {
    .foot{
      height: 20vh;
    }

    .name{
      font-size: 1rem;
    }

    sup{
      font-size: 0.5rem !important;
  }
   
  }

  @media only screen and (max-width: 350px) {
    .foot{
      height: 20vh;
    }

    .name{
      font-size: 0.8rem;
    }

    sup{
      font-size: 0.5rem !important;
  }
   
  }

  /* .container-head {
    background-color: #333;
    color: #fff;
  }
   */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .link {
    text-decoration: none;
    color: black;
    padding: 10px;
  }
  
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    z-index: 1;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .left li:hover .dropdown-menu {
    display: block;
  }
  
  .right .link {
    margin-left: 10px;
  }
  